<h3>Recipients</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <% @found_recipients.each do |recipient| %>
    <tr>
      <td><%= recipient["id"] %></td>
      <td><%= recipient["name"] %></td>
    </tr>
  <% end %>
</table>
